{% extends "blog/base.html" %}
{% block content %}
<style>
    .col-md-4 {
        display: none !important;
    }
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .col-md-8 {
        margin-left: auto;
        margin-right: auto;
    }
    /* Mobile Screens */
    @media (max-width: 768px) {
        .row {
            margin-left: -15px;
            margin-right: -15px;
        }
    }

</style>
<h2>You have been logged out</h2>
<div class = "border-top pt-3">
    <small class = "text-muted">
        <a class = "ml-2" href="{% url 'login' %}">Log In Again</a>
    </small>
</div>
{% endblock content %}